<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>KStart Admin's Work</title>
<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
<link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>
<body>
    <div class="header">
        <div class="wraper">
            <div class="logo">KStart</div>
            <div class="nav">
                <ul class="menu_list">
                    <li class="list_item"><a href="/">首页</a></li>
                    <li class="list_item"><a href="{:U('news')}">资讯</a></li>
                    <li class="list_item"><a href="/">资金</a></li>
                    <li class="list_item"><a href="/">项目</a></li>
                    <li class="list_item"><a href="/">专家</a></li>
                </ul>
            </div>
        </div>
    </div>
