<include file="header" />

    <div class="article">
        <div class="wraper">
            <div class="news">
                <div class="leftbar">
                    <ul class="left_menu">
                        <li><a href="javascript:;">资讯列表</a></li>
                        <li><a href="javascript:;">添加资讯</a></li>
                        <li><a href="javascript:;">待审核资讯</a></li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>

</body>
<script src="__PUBLIC__/jquery.js" charset="utf-8"></script>
<script type="text/javascript">
$(function(){

});
</script>
</html>
